<html><head><script src="https://kit.fontawesome.com/ef539ea5a5.js"></script><link rel="stylesheet" href="https://www.neofire.de/style/NeofirePlentymarkets.css"></head><body><div class="leftside"><div class="rightside">plentymarkets Connector</div><br><br>
{{ output }}
</body></html>
